a, a:visited, a:active {
  color: #2A6DC7;
}

a:hover {
  color: #343434;
  text-decoration: none;
}

font {
  color: #343434;
}

input {
  height: 40px;
  border: none;
  border-bottom: 2px solid #2A6DC7;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  color: #2A6DC7;
}

input:focus {
  border-bottom: 2px solid #FFB762;
  outline: none;
}

input::placeholder {
  color: #9DBCE6;
}

.container-primary {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.container-timesheet-input {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  text-align: center;
}

.container-timesheet-output {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  background-color: #2A6DC7;
  color: #95C0F9;
}

hr {
  border: none;
    height: 1px;
    color: #E6EEF9;
    background-color: #E6EEF9;
}
